/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #7d7d7d #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

#mainTitle {
    font-size: 20vw;
    font-family: Arial;
    color: black;
    position: absolute;
    top: 30vh;
    left: -30px;
}

.gallery {
    margin: 5px;
    width: 30%;
    display: inline;
    list-style: none;
}

#themeIcon {
    position: fixed;
    top:5%;
    right:5%;
    width: 10%;
    z-index: 5;
}

body {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    max-width: 100%;
    overflow-x: hidden;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}

#nav {
    position: fixed;
    width: 95%;
    height: 25%;
    border: 0px black solid;
    top: -5%;
    z-index: 2;
}

.navLinks {
    float: left;
    text-decoration: none;
    color: black;
    width: auto;
    margin-left: 2%;
    margin-top: 1%;
    height: auto;
    background: #7d7d7d;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    font-size: 5vw;
    font-weight: bold;
    line-height: 25px;
}
